<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>

	<Loggers>
		<logger name="com.opensymphony">
			<level value="DEBUG" />
		</logger>

		<logger name="org.apache.struts2">
			<level value="DEBUG" />
		</logger>

		<logger name="org.hibernate">
			<level value="DEBUG" />
		</logger>

		<Root level="DEBUG">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>